  main {
    flex-direction: column; /* Changement de direction vers column */
    color: white;
  }

  .watchlist {
    width: 220px;
    height: 35px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 15px;
    color: #333;
    font-weight: 600;
    align-self: flex-end;
  }
  
  .film-details {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .film-poster {
    flex: 1;
  }
  
  .film-info {
    margin-left: 20px;
    color: white;
    width: 900px;
  }
  
  #new_message {
    margin-bottom: 20px;
  }

  .film-poster img {
    width: 250px; 
  }

  .msg {
    font-size: 10px;
  }

  .bandeannonce {
    color: white;
    text-decoration: underline;
  }

  .bandeannonce:hover {
    color: #b2b2b2;
    cursor: pointer;
  }

  .provider-logos {
    display: flex;
    gap: 8px; /* Espacement entre les logos */
  }
  
  .provider-logos img {
    width: 33px; /* Taille des logos */
    height: 34px;
    border-radius: 50%; /* Pour les rendre ronds */
  }
  

  