 .posterwatchlist {
    margin: 10px;
    text-align: center;
  }
  
  .img {
    width: 200px; /* Ajustez la largeur des affiches en fonction de vos besoins */
    cursor: pointer;
    margin-left: 20px;
  }
  
  h2 {
    justify-content: center;
    color: white;
  }  
