/* Evenement.css */

/* Définissez une grille CSS avec deux colonnes */
.formEvent {
    display: grid;
    grid-template-columns: 1fr auto; /* Première colonne flexible, deuxième colonne automatique pour l'image */
    gap: 20px; /* Espace entre les colonnes */
}
  
/* Positionnez l'aperçu de l'image dans la deuxième colonne */
.formEvent .image-preview {
    width: 100%; /* Assurez-vous que l'image occupe toute la largeur de sa colonne */
    max-height: 300px; /* Hauteur maximale de l'aperçu de l'image */
    object-fit: contain; /* Redimensionne l'image pour s'adapter entièrement à la zone sans déformation */
    border-radius: 8px; /* Ajoutez une bordure arrondie à l'image */
}
  
  /* Styles spécifiques pour la première colonne (champs de formulaire) */
  .formEvent .labelandarea {
    display: flex;
    flex-direction: column; /* Organise les éléments en colonne */
  }
  .formEvent label {
    display: block;
    margin-bottom: 8px;
    font-size: 16px;
}
.formEvent input,
.formEvent textarea {
    width: calc(100% - 40px);
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 14px;
    color: #fff;
    padding: 20px;
    outline: none;
}

/* Styliser le bouton */
.formEvent .buttonEvent {
    width: 100%;
    height: 45px;
    background: #007bff; /* Couleur de fond du bouton */
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #fff; /* Couleur du texte du bouton */
    font-weight: 600;
    margin-top: 15px;
}